@using SBMMember.Web.Models.MemberSearchModels
@model MemberSearchResponseViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="seperate"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container search_result">
                <div class="row">
                    <div class="col-xs-3 search_pic" class="">
                        <img src="~/img/avatar7.png" class="pic_img">

                    </div>
                    <div class="col-xs-9 pic_content">
                        <div class="table-responsive search_cont">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><div class="icon_cole1"><i class="ti-user"></i></div></td>
                                        <td><div class="labe">Full Name:</div></td>
                                        <td><div class="labep">@Model.FullName</div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="icon_cole1"><i class="ti-archive"></i></div></td>
                                        <td><div class="labe">Qualification:</div></td>
                                        <td><div class="labep">@Model.Qualification</div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="icon_cole1"><i class="ti-dashboard"></i></div></td>
                                        <td><div class="labe">Age:</div></td>
                                        <td><div class="labep">@Model.Age</div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="icon_cole1"><i class="ti-mobile"></i></div></td>
                                        <td><div class="labe">Mobile:</div></td>
                                        <td><div class="labep">@Model.MobileNumber</div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="icon_cole1"><i class="ti-mobile"></i></div></td>
                                        <td><div class="labe">Area City:</div></td>
                                        <td><div class="labep">@Model.Area,@Model.City</div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="icon_cole1"><i class="ti-pin2"></i></div></td>
                                        <td><div class="labe">Native Place:</div></td>
                                        <td><div class="labep">@Model.NativePlace</div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><div class="labe"><a href="@Url.ActionLink("ViewMemberProfile","MemberDashboard",new{MemberId = Model.MemberId })" value="View" class="btn btn-danger">View Details</a></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>