@model MemberListViewModel
@{
    ViewData["Title"] = "NewMemberList";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<script>
    $(document).ready(function () {
        $("#BusinessForm").hide();
        $('#tblJobPost').DataTable();
        $("#btnAddNew").click(function () {
            $("#BusinessForm").show();
            $(this).hide();
        });
        $("#btnCancel").click(function () {
            $("#BusinessForm").hide();
            $("#btnAddNew").show();
        });
    });
</script>

<section class="blog_area single-post-area section_padding">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="scroll">
                    <p> New Member List</p>
                </div>
                <div>
                </div>
            </div>
        </div>



        
    </div>


    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <table id="tblJobPost" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Prefix</th>
                            <th>FirstName</th>
                            <th>MiddleName</th>
                            <th>LastName</th>
                            <th>Mobile</th>
                            <th>City</th>
                            <th>Form Status</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.memberList != null)
                        {
                            foreach (var member in Model.memberList)
                            {
                                <tr>
                                    <td>@member.Prefix</td>
                                    <td>@member.FirstName</td>
                                    <td>@member.MiddleName</td>
                                    <td>@member.LastName</td>
                                    <td>@member.MobileNumber</td>
                                    <td>@member.City</td>
                                    <td>@member.FormStatus</td>
                                    <td>
                                        <a title="Verfify" href="@Url.Action("VerifyMemberProfile","ManageMembers",new { memberId = member.MemberId})"><i class="ti-search"></i> Verify</a>
                                        <a title="Approve" href="@Url.Action("ApproveMemberProfile","ManageMembers",new {memberId = member.MemberId})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-stamp"></i> Approve</a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</section>

