@model MemberFormCommonViewModel
@{
    ViewData["Title"] = "VerifyMemberProfile";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<style>
    .image-upload > input {
        display: none;
    }

    #myProgress {
        width: 100%;
        background-color: #eeeeee;
    }

    #myBar {
        width: 50%;
        height: 30px;
        background-color: green;
    }
</style>
<script>
    $(document).ready(function () {


        $("#btnSetProfile").bind("click", function (e) {

            var fileuploadValue = $("#file-input").val();
            if (fileuploadValue === '') {
                var message = "Please select Profile image to procced."

                alert(message);
                e.preventDefault();
            }

        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
        // document.getElementById("birthdateCtrl").setAttribute("max", today);
        document.getElementById("DOB").setAttribute("max", today);
    });
</script>
<div class="container" style="margin-top:25px;">
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td style="background-color:#7c0053">
                        <div class="photo-container1">
                            <form asp-action="UploadProfileImage" asp-controller="ManageMembers" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="MemberId" />
                                @if (Model.MemberPersonalInfo.MemberProfileImage != null)
                                {
                                    <img src="~/MemberProfileImages/@Model.MemberPersonalInfo.MemberProfileImage.Split('/')[2]" class="view_prof_i">
                                }
                                else
                                {
                                    <img src="~/img/Noavatar.png" class="view_prof_i">
                                }
                                <div class="image-upload" style="text-align:center;color:#ffffff">
                                    <label for="file-input">
                                        edit
                                        <img src="~/img/upload_icon.png" width="20px" height="15px">
                                    </label>
                                    <input id="file-input" type="file" asp-for="file" />
                                </div>
                                <div>
                                        <button type="submit" id="btnSetProfile" style="font-size:10px;">Set profile Image</button>
                                    </div>
                            </form>
                        </div>
                    </td>
                    <td width="100%" style="background-color:#7c0053">
                        <section class="data-content1">
                            <table>
                                <tr>
                                    <td><label class="lbl_profile"><strong>सभासदाचे नाव:</strong> @Model.MemberPersonalInfo.PrefixM @Model.MemberPersonalInfo.FirstNameM @Model.MemberPersonalInfo.MiddleNameM @Model.MemberPersonalInfo.LastNameM</label></td>
                                </tr>
                                <tr>
                                    <td><label class="lbl_profile">सभासद क्रमांक: @Model.MemberPaymentInfo.MemberShipIdM </label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="lbl_profile">
                                            जन्म तारीख: @if (Model.MemberPersonalInfo.BirthDate != DateTime.MinValue)
                                            {@Model.MemberPersonalInfo.BirthDate.ToShortDateString()}
                                        </label>
                                    </td>
                                </tr>
                                <tr><td><label class="lbl_profile">मोबाईल: @Model.MemberConatctInfo.Mobile1 </label></td></tr>
                            </table>
                        </section>
                    </td>
                </tr>
                @*<tr>
                        <td colspan="2">
                            <div id="myProgress">
                                <div id="myBar"></div>
                            </div>
                        </td>
                    </tr>*@
            </table>
            <div class="rt-container">
                <div class="col-rt-12">
                    <div class="Scriptcontent">
                        <section class="tabs-container">
                            <label for="tab1" class="yel"><img src="~/img/profile.png" class="matri-icon"><br /> वैयक्तिक माहिती </label>
                            <label for="tab2" class="yel"><img src="~/img/contact-details-m.png" class="matri-icon"><br /> मुळगाव व संपर्क</label>
                            <label for="tab3" class="yel"><img src="~/img/mortarboard.png" class="matri-icon"><br> शिक्षण / नोकरी </label>
                            <label for="tab4" class="yel"><img src="~/img/people.png" class="matri-icon"><br> कुटुंबाविषयी माहिती </label>
                            <label for="tab5" class="yel"><img src="~/img/contact-img.png" class="matri-icon"><br> सभासदत्व माहिती</label>
                        </section>

                        <input name="tab" id="tab1" type="radio" checked />

                        <section class="tab-content">
                            <div class="section-top-border updatep">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="MemberPersonalInfo" asp-controller="ManageMembers" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberPersonalInfo.MemberId" />
                                            <div class="input-group-icon">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPersonalInfo.Prefix">
                                                        <option value="Title">Title</option>
                                                        <option value="Shree">Shree</option>
                                                        <option value="Sou">Sou</option>
                                                        <option value="Shreemati">Shreemati</option>
                                                        <option value="Doctor">Doctor</option>
                                                        <option value="Adv">Adv</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="MemberPersonalInfo.PrefixM" asp-for="MemberPersonalInfo.PrefixM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon">
                                                <input type="text" name="MemberPersonalInfo.FirstName" asp-for="MemberPersonalInfo.FirstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.FirstNameM" asp-for="MemberPersonalInfo.FirstNameM" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon">
                                                <input type="text" name="MemberPersonalInfo.MiddleName" asp-for="MemberPersonalInfo.MiddleName" placeholder="Middle Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Middle Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.MiddleNameM" asp-for="MemberPersonalInfo.MiddleNameM" placeholder="Middle Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Middle Name'"
                                                       class="single-input">
                                            </div>
                                            <div class="input-group-icon">
                                                <input type="text" name="MemberPersonalInfo.LastName" asp-for="MemberPersonalInfo.LastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.LastNameM" asp-for="MemberPersonalInfo.LastNameM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPersonalInfo.Gender">
                                                        <option value="Gender">Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>

                                                </div>
                                                <input type="text" name="MemberPersonalInfo.GenderM" asp-for="MemberPersonalInfo.GenderM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPersonalInfo.MaritalStatus">
                                                        <option value="0">Marital Status</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Unmarried">Unmarried</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="MemberPersonalInfo.MaritalStatusM" asp-for="MemberPersonalInfo.MaritalStatusM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <label>Date of Birth</label>
                                                <input type="date" name="MemberPersonalInfo.BirthDate" asp-for="MemberPersonalInfo.BirthDate" class="single-input">
                                                <input type="text" name="MemberPersonalInfo.BirthDateM" asp-for="MemberPersonalInfo.BirthDateM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPersonalInfo.BloodGroup">
                                                        <option value="0">Blood Group</option>
                                                        <option value="A+">A positive (A+)</option>
                                                        <option value="A-">A Negative (A-)</option>
                                                        <option value="B+">B Positive (B+)</option>
                                                        <option value="B-">B Negative (B-)</option>
                                                        <option value="O+">O Positive (O+)</option>
                                                        <option value="O-">O Negative (O-)</option>
                                                        <option value="AB+">AB positive (AB+)</option>
                                                        <option value="AB-">AB Negative (AB-)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Address" asp-for="MemberPersonalInfo.Address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.AddressM" asp-for="MemberPersonalInfo.AddressM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Area" asp-for="MemberPersonalInfo.Area" placeholder="Area" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Area'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.AreaM" asp-for="MemberPersonalInfo.AreaM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.City" asp-for="MemberPersonalInfo.City" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.CityM" asp-for="MemberPersonalInfo.CityM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Pincode" asp-for="MemberPersonalInfo.Pincode" placeholder="Pincode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pincode'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.PincodeM" asp-for="MemberPersonalInfo.PincodeM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Taluka" asp-for="MemberPersonalInfo.Taluka" placeholder="Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Taluka'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.TalukaM" asp-for="MemberPersonalInfo.TalukaM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.District" asp-for="MemberPersonalInfo.District" placeholder="District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'District'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.DistrictM" asp-for="MemberPersonalInfo.DistrictM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.State" asp-for="MemberPersonalInfo.State" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'"
                                                       required class="single-input">
                                                <input type="text" name="MemberPersonalInfo.StateM" asp-for="MemberPersonalInfo.StateM" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gender'"
                                                       required class="single-input">
                                            </div>
                                            <div class="mt-10 center">
                                                <button type="submit" class="genric-btn primary-border fa-align-right">Update</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </section>


                        <input name="tab" id="tab2" type="radio" />
                        <section class="tab-content">
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-controller="ManageMembers" asp-action="MemberContactInfo" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberConatctInfo.MemberId" />
                                            <div class="input-group-icon mt-3">
                                                <input type="text" name="MemberConatctInfo.NativePlace" asp-for="MemberConatctInfo.NativePlace" placeholder="Native Place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.NativePlaceM" asp-for="MemberConatctInfo.NativePlaceM" placeholder="Native Place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.NativePlaceTaluka" asp-for="MemberConatctInfo.NativePlaceTaluka" placeholder="Native Place Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place Taluka'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.NativePlaceTalukaM" asp-for="MemberConatctInfo.NativePlaceTalukaM" placeholder="Native Place Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place Taluka'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.NativePlaceDist" asp-for="MemberConatctInfo.NativePlaceDist" placeholder="Native Place District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place District'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.NativePlaceDistM" asp-for="MemberConatctInfo.NativePlaceDistM" placeholder="Native Place District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place District'"
                                                       required class="single-input">
                                            </div>


                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.Mobile1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" maxlength="10" asp-for="MemberConatctInfo.Mobile1" placeholder="Personal Mobile 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 1'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.Mobile1M" asp-for="MemberConatctInfo.Mobile1M" placeholder="Personal Mobile 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 1'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <button type="submit" class="allsubmitbtn">OTP Verify</button>
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.Mobile2" maxlength="10" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" asp-for="MemberConatctInfo.Mobile2" placeholder="Personal Mobile 2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 2'"
                                                       class="single-input">
                                                <input type="text" name="MemberConatctInfo.Mobile2M" asp-for="MemberConatctInfo.Mobile2M" placeholder="Personal Mobile 2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 2'"
                                                       class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="email" name="MemberConatctInfo.EmailId" asp-for="MemberConatctInfo.EmailId" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.RelativeName" asp-for="MemberConatctInfo.RelativeName" placeholder="Ref. Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ref. Full Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.RelativeNameM" asp-for="MemberConatctInfo.RelativeNameM" placeholder="Ref. Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ref. Full Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.RelativeAddress" asp-for="MemberConatctInfo.RelativeAddress" placeholder="Reference / Relative full address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference / Relative full address'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.RelativeAddressM" asp-for="MemberConatctInfo.RelativeAddressM" placeholder="Reference / Relative full address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference / Relative full address'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.RelativeContact1" asp-for="MemberConatctInfo.RelativeContact1" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 1'"
                                                       required class="single-input">
                                                <input type="text" name="MemberConatctInfo.RelativeContact1M" asp-for="MemberConatctInfo.RelativeContact1M" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 1'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.RelativeContact2" asp-for="MemberConatctInfo.RelativeContact2" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 2'"
                                                       class="single-input">
                                                <input type="text" name="MemberConatctInfo.RelativeContact2M" asp-for="MemberConatctInfo.RelativeContact2M" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 2'"
                                                       class="single-input">
                                            </div>
                                            <div class="mt-10 center">
                                                <button type="submit" class="genric-btn primary-border">Update</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab3" type="radio" />
                        <section class="tab-content">

                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="MemberEduEmpInfo" asp-controller="ManageMembers" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberEducationEmploymentInfo.MemberId" />
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.Qualification" asp-for="MemberEducationEmploymentInfo.Qualification" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification'"
                                                       required class="single-input">
                                                <input type="text" name="MemberEducationEmploymentInfo.QualificationM" asp-for="MemberEducationEmploymentInfo.QualificationM" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberEducationEmploymentInfo.Proffession">
                                                        <option value="0">Occupation</option>
                                                        <option value="Business">Business</option>
                                                        <option value="Job">Job</option>
                                                        <option value="Farmer">Farmer</option>
                                                        <option value="Student">Student</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="MemberEducationEmploymentInfo.ProffessionM" asp-for="MemberEducationEmploymentInfo.ProffessionM" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Proffession'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.CompanyName" asp-for="MemberEducationEmploymentInfo.CompanyName" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberEducationEmploymentInfo.CompanyNameM" asp-for="MemberEducationEmploymentInfo.CompanyNameM" placeholder="Company Name in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name in Marathi'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.CompanyAddress" asp-for="MemberEducationEmploymentInfo.CompanyAddress" placeholder="Company Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Address'"
                                                       required class="single-input">
                                                <input type="text" name="MemberEducationEmploymentInfo.CompanyAddressM" asp-for="MemberEducationEmploymentInfo.CompanyAddressM" placeholder="Company Address in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Address in Marathi'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.BusinessName" asp-for="MemberEducationEmploymentInfo.BusinessName" placeholder="Business Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberEducationEmploymentInfo.BusinessNameM" asp-for="MemberEducationEmploymentInfo.BusinessNameM" placeholder="Business Name in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Name in Marathi'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.BusinessAddress" asp-for="MemberEducationEmploymentInfo.BusinessAddress" placeholder="Business Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Address'"
                                                       class="single-input">
                                                <input type="text" name="MemberEducationEmploymentInfo.BusinessAddressM" asp-for="MemberEducationEmploymentInfo.BusinessAddressM" placeholder="Business Address in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Address in Marathi'"
                                                       class="single-input">
                                            </div>
                                            <div class="mt-10 center">
                                                <button type="submit" class="genric-btn primary-border">Update</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab4" type="radio" />
                        <section class="tab-content">

                            <div class="section-top-border">

                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="AddToList" asp-controller="ManageMembers" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberFamilyInfo.MemberFamilyDetails" />
                                            <input type="hidden" asp-for="MemberFamilyInfo.MemberId" />
                                            <input type="hidden" asp-for="MemberFamilyInfo.IsNew" />
                                            <input type="hidden" asp-for="MemberFamilyInfo.FamilyDetailsID" />
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberFamilyInfo.Name" asp-for="MemberFamilyInfo.Name" placeholder="Family member Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Name'"
                                                       required class="single-input">
                                                <input type="text" name="MemberFamilyInfo.NameM" asp-for="MemberFamilyInfo.NameM" placeholder="Family member Name in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Name in Marathi'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberFamilyInfo.Relation">
                                                        <option value="0">Relations</option>
                                                        <option value="Husband">Husband</option>
                                                        <option value="Wife">Wife</option>
                                                        <option value="Daughter">Daughter</option>
                                                        <option value="Son">Son</option>
                                                        <option value="Father">Father</option>
                                                        <option value="Mother">Mother</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="MemberFamilyInfo.RelationM" asp-for="MemberFamilyInfo.RelationM" placeholder="Family member Name in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member relation in Marathi'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberFamilyInfo.Education" asp-for="MemberFamilyInfo.Education" placeholder="Family member Education" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Education'"
                                                       required class="single-input">
                                                <input type="text" name="MemberFamilyInfo.EducationM" asp-for="MemberFamilyInfo.EducationM" placeholder="Family member Education in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Education in Marathi'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberFamilyInfo.Occupation">
                                                        <option value="0">Family Member Occupation</option>
                                                        <option value="Working">Working</option>
                                                        <option value="Business">Business</option>
                                                        <option value="Housewife">Housewife</option>
                                                        <option value="Student">Student</option>
                                                        <option value="Retired">Retired</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="MemberFamilyInfo.OccupationM" asp-for="MemberFamilyInfo.OccupationM" placeholder="Family member Education in Marathi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Occupation in Marathi'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                Date of Birth:
                                                @if (Model.MemberFamilyInfo.DOB == DateTime.MinValue)
                                                {
                                                    <input type="date" min="" id="DOB" value="@DateTime.Today" name="" MemberFamilyInfo.DOB" asp-for="MemberFamilyInfo.DOB" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'"
                                                           required class="single-input">
                                                }
                                                else
                                                {
                                                    <input type="date" min="" id="DOB" name="" MemberFamilyInfo.DOB" asp-for="MemberFamilyInfo.DOB" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'"
                                                           required class="single-input">
                                                }

                                            </div>

                                            <div class="input-group-icon mt-10">
                                                Blood Group :
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberFamilyInfo.BloodGroup">
                                                        <option value="0">-- Select Blood Group --</option>
                                                        <option value="A+">A positive (A+)</option>
                                                        <option value="A-">A Negative (A-)</option>
                                                        <option value="B+">B Positive (B+)</option>
                                                        <option value="B-">B Negative (B-)</option>
                                                        <option value="O+">O Positive (O+)</option>
                                                        <option value="O-">O Negative (O-)</option>
                                                        <option value="AB+">AB positive (AB+)</option>
                                                        <option value="AB-">AB Negative (AB-)</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="mt-10 center">
                                                <button class="genric-btn primary-border">Save</button>
                                            </div>
                                            @if (Model.MemberFamilyInfo.MemberFamilyDetails != null)
                                            {
                                                <div class="mt-10 center">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td>Name</td>
                                                                <td>Relation</td>
                                                                @*<td>Education</td>
                                                                    <td>Occupation</td>
                                                                    <td>Blood Group</td>*@
                                                                <td>Operations</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var familyMember in Model.MemberFamilyInfo.MemberFamilyDetails)
                                                            {
                                                                <tr>
                                                                    <td>@familyMember.NameM</td>
                                                                    <td>@familyMember.RelationM</td>
                                                                    @*<td>@familyMember.EducationM</td>
                                                                        <td>@familyMember.OccupationM</td>
                                                                        <td>@familyMember.BloodGroup</td>*@
                                                                    <td>
                                                                        <a title="Edit" href="@Url.Action("EditFamilyMember","ManageMembers",new { id = familyMember.FamilyDetailsID})"><i class="ti-pencil"></i></a>
                                                                        <a title="Delete" href="@Url.Action("DeleteFamilyMember","ManageMembers",new { id =familyMember.FamilyDetailsID,memberId=familyMember.MemberId})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-close"></i></a>
                                                                    </td>
                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>

                                                </div>
                                            }

                                        </form>
                                    </div>

                                </div>
                                @*<div class="row">
                                        <form asp-action="MemberFamilyInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberFamilyInfo.MemberId" />
                                            <input type="hidden" asp-for="MemberFamilyInfo.MemberFamilyDetails" value="@ViewBag.MemberList" />
                                            <div class="mt-10 right">
                                                <button type="submit" class="genric-btn primary-border">Update</button>
                                            </div>
                                        </form>
                                    </div>*@
                            </div>
                        </section>

                        <input name="tab" id="tab5" type="radio" />
                        <section class="tab-content">
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="MemberPaymentInfo" asp-controller="ManageMembers" method="post">
                                            <input type="hidden" asp-for="MemberPaymentInfo.MemberId" />
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPaymentInfo.ChagesPaid" readonly asp-for="MemberPaymentInfo.ChagesPaid" placeholder="Charges Paid" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Charges Paid'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10" style="display:none">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPaymentInfo.PaymentMode">
                                                        <option value="0">Paid Through</option>
                                                        <option value="Cash">Cash</option>
                                                        <option value="Online">Online</option>
                                                        <option value="Cheque">Cheque</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" readonly name="MemberPaymentInfo.TransactionNo" asp-for="MemberPaymentInfo.TransactionNo" placeholder="Transaction ID/ Ref. ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Transaction ID/ Ref. ID'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <label>Transaction Date</label>
                                                <input type="date" readonly name="MemberPaymentInfo.TransactionDate" asp-for="MemberPaymentInfo.TransactionDate" placeholder="Transaction Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Transaction Date'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPaymentInfo.RecieptNo" asp-for="MemberPaymentInfo.RecieptNo" placeholder="RecieptNo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'RecieptNo'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPaymentInfo.MembershipId" asp-for="MemberPaymentInfo.MembershipId" placeholder="Membership Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Membership Number'"
                                                       required class="single-input">
                                                <label>Last assigned Membership No : @Model.MemberPaymentInfo.LastMemberShipId</label>
                                            </div>
                                            <div class="mt-10 center">
                                                <button type="submit" class="genric-btn primary-border">Update</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <div class="row">
                                    <form asp-action="MarkVerify" asp-controller="ManageMembers" method="post" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="MemberId" />

                                        <div class="mt-10 right">
                                            <button type="submit" class="genric-btn primary-border">Mark Member Profile as Verified</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var i = 0;
    function move() {
        if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                }
            }
        }
    }</script>


