@model MatrimonyViewModel
@{
    ViewData["Title"] = "MatrimonyCandidateProfile";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Matrimony Portal</p>
            </div>
        </div>
    </div>
</div>
<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-rt-12">
                    <div class="container">
                        <div class="row" style="background-color:#7c0053">
                            <div class="photo-container1" style="background-color:#7c0053">
                                <i class="ti-edit"></i>
                                <img src="@Model.CandidateProfile.profileImage" style="margin:7px;height:110px;width:123px; border-radius:10px">
                            </div>
                            <section class="data-content1" style="background:#7c0053; width: calc(100% - 150px); padding:20px; color:#ffffff">
                                <ul class="profile-text">
                                    <li>@Model.CandidateProfile.fullName</li>
                                    <li>Age:@Model.CandidateProfile.age yrs</li>
                                    <li>ऊंची : @Model.CandidateProfile.heightInFeet'@Model.CandidateProfile.heightInInches"</li>
                                    <li>Candidate Id:@Model.CandidateProfile.applicationId</li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="Scriptcontent">
                        <section class="tabs-container tab-text">
                            <label for="tab1" style="color:#ffffff;text-align:center"> <img src="~/img/profile.png" class="matri-icon"> <br>वैयक्तिक माहिती </label>
                            <label for="tab2" style="color:#ffffff;text-align:center"> <img src="~/img/mortarboard.png" class="matri-icon"><br> शिक्षण/नोकरी </label>
                            <label for="tab3" style="color:#ffffff;text-align:center"> <img src="~/img/image-gallery.png" class="matri-icon"><br>छायाचित्र</label>
                            <label for="tab4" style="color:#ffffff;text-align:center"> <img src="~/img/people.png" class="matri-icon"><br>कुटुंबाविषयी माहिती </label>
                            <label for="tab5" style="color:#ffffff;text-align:center"> <img src="~/img/contact-img.png" class="matri-icon"><br>संपर्कासाठी नाव</label>
                        </section>

                        <input name="tab" id="tab1" type="radio" checked />
                        <section class="tab-content">
                            
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <h5>जन्म नाव:</h5>
                                        <p>@Model.CandidateProfile.birthName</p>
                                        <br>
                                        <h5>जन्म ठिकाण  :</h5>
                                        <p>@Model.CandidateProfile.birthPlace</p>
                                        <br>
                                        <h5>जन्म तारीख :</h5>
                                        <p>@Model.CandidateProfile.birthDate</p>
                                        <br>
                                        <h5>जन्म वेळ(24 hrs) :</h5>
                                        <p>@Model.CandidateProfile.birthHrs:@Model.CandidateProfile.birthMins</p>
                                        <br>
                                        <h5> गोत्र:</h5>
                                        <p>@Model.CandidateProfile.gotra</p>
                                        <br>
                                        <h5> रक्तगट:</h5>
                                        <p>@Model.CandidateProfile.bloodGroup</p>
                                        <br>
                                        <h5> मामकुळ :</h5>
                                        <p>@Model.CandidateProfile.mamkul</p>
                                        <br>
                                        <h5>संपर्क नं :</h5>
                                        <p>@Model.CandidateProfile.mobileNo</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab2" type="radio" />
                        <section class="tab-content">
                           
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>शैक्षणिक पातळी :</h5>
                                            <p>@Model.CandidateProfile.educationLevel</p>
                                            <br>
                                            <h5>शिक्षण :</h5>
                                            <p>@Model.CandidateProfile.qualification</p>
                                            <br>
                                            <h5>नोकरी / व्यवसाय :</h5>
                                            <p>@Model.CandidateProfile.occupation</p>
                                            <br>
                                            <h5>जोडीदाराविषयी अपेक्षा :</h5>
                                            <p>@Model.CandidateProfile.expectations</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab3" type="radio" />
                        <section class="tab-content">
                            
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab4" type="radio" />
                        <section class="tab-content">
                          
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>भाऊ:</h5>
                                            <p>विवाहित @Model.CandidateProfile.broMarried,अविवाहित @Model.CandidateProfile.broUnmarried</p>
                                            <br>
                                            <h5>बहीण:</h5>
                                            <p>विवाहित @Model.CandidateProfile.sisMarried,अविवाहित @Model.CandidateProfile.sisUnmarried</p>
                                            <br>
                                            <h5>मुळगाव:</h5>
                                            <p>@Model.CandidateProfile.homeTown</p>
                                            <br>
                                            <h5>तालुका:</h5>
                                            <p>@Model.CandidateProfile.taluka</p>
                                            <br>
                                            <h5>जिह्वा:</h5>
                                            <p>@Model.CandidateProfile.district</p>
                                            <br>
                                            <h5>वडीलांचे/पालकांचे नाव :</h5>
                                            <p>@Model.CandidateProfile.nameOfFatherGuardian</p>
                                            <br>
                                            <h5>पत्ता:</h5>
                                            <p>@Model.CandidateProfile.parentalAddress</p>
                                            <br>
                                            <h5>संपर्क नं:</h5>
                                            <p>@Model.CandidateProfile.parentalContactNo1</p>
                                            <br>
                                            <h5>इमेल:</h5>
                                            <p>@Model.CandidateProfile.parentalEmail</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab5" type="radio" />
                        <section class="tab-content">
                            
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="col-lg-12 col-md-12">
                                            <h5>संपर्कांचे नाव १ :</h5>
                                            <p>@Model.CandidateProfile.fatherGurdianTitle @Model.CandidateProfile.nameOfFatherGuardian</p>
                                            <br>
                                            <h5>पत्ता १:</h5>
                                            <p>@Model.CandidateProfile.parentalAddress</p>
                                            <br>
                                            <h5>संपर्क १:</h5>
                                            <p>@Model.CandidateProfile.parentalContactNo1</p>
                                            <br />
                                            <h5>संपर्कांचे नाव २ :</h5>
                                            <p>@Model.CandidateProfile.altFatherGurdianTitle @Model.CandidateProfile.altNameOfFatherGuardian</p>
                                            <br>
                                            <h5>पत्ता २:</h5>
                                            <p>@Model.CandidateProfile.altParentalAddress</p>
                                            <br>
                                            <h5>संपर्क २</h5>
                                            <p>@Model.CandidateProfile.altParentalContactNo1</p>
                                            <br />

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

