@model UpcomingEventsViewModel
@{
    ViewData["Title"] = "UpcomingEvents";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Upcoming Events</p>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            @if (Model.EventInfos != null && Model.EventInfos.Count > 0)
                    {
                        foreach (var item in Model.EventInfos)
                        {
            <div class="upcoming-event">
                <h6><span style="color:#7c0053;font-weight:bold">Event Date:</span> @item.EventDate.ToShortDateString()</h6>
                <h6><span style="color:#7c0053;font-weight:bold">Event title:</span> @item.EventTitle</h6>
                <h6><span style="color:#7c0053;font-weight:bold">Event Description:</span><br> @item.EventDesc</h6>
            </div>
            
            }

                    }
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Event Date</td>
                        <td> Event Title</td>
                        <td>Event Description</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.EventInfos != null && Model.EventInfos.Count > 0)
                    {
                        foreach (var item in Model.EventInfos)
                        {
                            <tr>
                                <td>@item.EventDate.ToShortDateString()</td>
                                <td>@item.EventTitle</td>
                                <td>@item.EventDesc</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>


