@model BannerAndMarqueeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<script>
      $(document).ready(function () {
          $("#NoMeetings").click(function () {

              alert("Curently No Active Meeting.");
          });


      });

      function CopyMeetingURL()
      {
    //      /* Get the text field */
    //var copyText = document.getElementById("meeturl");

    ///* Select the text field */
    //copyText.select();
    //copyText.setSelectionRange(0, 99999); /* For mobile devices */

    ///* Copy the text inside the text field */
    //navigator.clipboard.writeText(copyText.value);
    var copyText = document.getElementById("meeturl");
      var textArea = document.createElement("textarea");
      textArea.value = copyText.textContent;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand("Copy");
      navigator.clipboard.writeText(textArea.value);
      alert("Copied Meeting URL: " + textArea.value);
      textArea.remove();

    /* Alert the copied text */
    //alert("Copied Meeting URL: " + copyText.value);
      }
</script>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sx-8 profile-bar1">
                        <div class="container">
                            <div c;ass="row">
                                <div class="col-xs-12">
                                    <div class="container">
                                        <div class="row">
                                            <!--div class="col-xs-2">
                                                <img src="~/img/user.png" class="pofile-icon" width="35px" height="35px">
                                            </div-->
                                            <div class="col-xs-12 profile-bar1">
                                                <div class="profile-content">
                                                    <h5>Welcome</h5>
                                                    <h4>@User.Identity.Name</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sx-4 profile-bar2">
                        <h3>Mem.ID:@User.Claims?.FirstOrDefault(x => x.Type.Equals("MemberShipId", StringComparison.OrdinalIgnoreCase))?.Value</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------srcoll bar--------------->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll">
                <p><marquee>@Model.MarqueeString</marquee></p>
            </div>
        </div>
    </div>
</div>
<!----------------------end of scroll bar---------------->
<!--------------dashboard-------------->
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-1--------------->
            <div class="container">
                <div class="row" style="margin-top:10px">
                    <div class="col-xs-4 r1c1 dashboard" id="profileUpdate" style="cursor:pointer;">
                        <a asp-action="ViewLoggedMemberProfile" asp-controller="MemberDashboard">  <img src="~/img/profile-pic.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Profile</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="doctorSerach" style="cursor:pointer">
                        <a asp-action="MemberDoctors" asp-controller="MemberDashboard"> <img src="~/img/doctor.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Doctor Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="memberSerach" style="cursor:pointer">
                        <a asp-action="MemberSearchDashBoard" asp-controller="MemberDashboard">  <img src="~/img/team-management.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Member Search</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-1--------------->
        </div>
    </div>
</div>
<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="bloodGroupSerach" style="cursor:pointer">
                        <a asp-action="MemberBloodGroupSearch" asp-controller="MemberDashboard"> <img src="~/img/blood_search.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Blood Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="JobSearch" style="cursor:pointer">
                        <a asp-action="JobDirectory" asp-controller="JobDirectory"> <img src="~/img/job-search.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Job Search</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="business" style="cursor:pointer">
                        <a asp-action="BusinessDashboard" asp-controller="BusinessDashboard">   <img src="~/img/phone-book1.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Business Directory</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>

<div class="seperate"><hr style="border:1px dashed #a7a7a7"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <div class="row ">
                    <div class="col-xs-4 r1c1 dashboard" id="matrimony" style="cursor:pointer">
                        <a asp-action="MatrimonySearch" asp-controller="Matrimony">  <img src="~/img/newlyweds.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Matrimony</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" style="cursor:pointer">
                        <a asp-action="SearchEventAds" asp-controller="Events">   <img src="~/img/advertising1.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Advertisement</h3>
                    </div>
                    <div class="col-xs-4 r1c1 dashboard" id="Events" style="cursor:pointer">
                        <a asp-action="SearchEvents" asp-controller="Events"> <img src="~/img/placard.png" class="dashboard-icon"></a>
                        <h3 style="color:#000000">Our Events</h3>
                    </div>

                </div>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>
<div class="seperate"></div>
<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">

            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>
                            <td>Notification</td>
                            <td></td>
                            <td>New member</td>
                            <td></td>
                            <td>Recent Jobs</td>
                        </tr>
                        <tr>
                            <td style="background-color:#db044c;color:#ffffff;font-size:16px;">@Model.NotificationCount</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#ffda08;color:#ffffff;font-size:16px;">@Model.NewMemberCount</td>
                            <td style="width:5px"></td>
                            <td style="background-color:#be0303;color:#ffffff;font-size:16px;">@Model.RecentJobCount</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<hr>

<div class="container ">
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <!------------icon dashbaord row-2--------------->
            <div class="container">
                <table class="table" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>

                            <td>
                                @*@if (Model.MemberMeeting != null)
                                    {
                                    <a href="@Model.MemberMeeting.MeetingURL" target="_blank">
                                    <img src="~/img/videomeet.png" class="table-button">
                                    </a>
                                    }
                                    else
                                    {
                                    <a id="NoMeetings">
                                    <img src="~/img/videomeet.png" class="table-button">
                                    </a>
                                    }*@
                                <img src="~/img/videomeet.png" style="cursor:pointer" class="table-button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#MeetingDialog">
                            </td>
                            <td style="width:20px"></td>
                            <td>
                                <a asp-action="AboutUs" asp-controller="MemberDashboard">
                                    <img src="~/img/about us-1.png" class="table-button">
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!------------End of icon dashbaord row-2--------------->
        </div>
    </div>
</div>
<!--------------end of dashboard-------------->
<div class="modal fade" id="MeetingDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Meeting Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group-icon mt-10" style="cursor:pointer">
                    @if (Model.MemberMeeting != null)
                    {
                        <span>Meeting URL:</span>

                        @*<input type="text" id="meeturl"  value="@Model.MemberMeeting.MeetingURL"/><br />*@
                        <span id="meeturl" style="padding:10px;">@Model.MemberMeeting.MeetingURL</span>
                        <br />
                        <br />
                        <a href="@Model.MemberMeeting.MeetingURL" target="_blank">Click here to join meeting.</a>
                        <br />
                        <br />
                        <p>Note: Please copy and paste meeting URL in the browser.Click on below button to copy meeting URL.</p>
                        <br />
                        <button class="btn btn-secondary" onclick="CopyMeetingURL()" style="margin-top:10px;">Copy Meeting URL</button>
                    }
                    else
                    {
                        <p>Currenttly no active meeting session available to join.</p>
                    }
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>