@model MemberFormCommonViewModel
@{
    ViewData["Title"] = "ProfileUpdate";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <p class="excert">
                            Update Member Profile
                        </p>
                    </div>
                </div>



                <section>
                    <div class="rt-container">
                        <div class="col-rt-12">
                            <div class="container">
                                <div class="row">
                                    <div class="photo-container1">
                                        <i class="ti-edit"></i>
                                        <img src="~/img/img-1.png" style="margin:25px">
                                    </div>
                                    <section class="data-content1" style="background:#7c0053; width: calc(100% - 150px); padding:20px; color:#ffffff">
                                        <label>सभासदाचे नाव: @Model.MemberPersonalInfo.FirstName @Model.MemberPersonalInfo.LastName </label><br><br>
                                        <label>सभासद क्रमांक: </label><br><br>
                                        <label>जन्म तारीख: @Model.MemberPersonalInfo.BirthDate </label><br><br>
                                        <label>मोबाईल: @Model.MemberConatctInfo.Mobile1 </label>

                                    </section>
                                </div>
                            </div>
                            <div class="Scriptcontent">

                                <section class="tabs-container">
                                    <label for="tab1" class="yel"> वैयक्तिक माहिती </label>
                                    <label for="tab2" class="lblu"> मुळगाव व संपर्क</label>
                                    <label for="tab3" class="grn"> शिक्षण / नोकरी </label>
                                    <label for="tab4" class="purp"> कुटुंबाविषयी माहिती </label>
                                    <label for="tab5" class="brn"> सभासदत्व माहिती</label>

                                </section>

                                <input name="tab" id="tab1" type="radio" checked />

                                <section class="tab-content">
                                    <br>
                                    <h2>वैयक्तिक माहिती </h2>
                                    <div class="section-top-border">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-10">
                                                <form asp-action="MemberPersonalInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" asp-for="MemberPersonalInfo.MemberId" />
                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberPersonalInfo.Prefix">
                                                                <option value="Title">Title</option>
                                                                <option value="Shree">Shree</option>
                                                                <option value="Sou">Sou</option>
                                                                <option value="Shreemati">Shreemati</option>
                                                                <option value="Doctor">Doctor</option>
                                                                <option value="Adv">Adv</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="FirstName" asp-for="MemberPersonalInfo.FirstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="MiddleName" asp-for="MemberPersonalInfo.MiddleName" placeholder="Middle Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Middle Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="LastName" asp-for="MemberPersonalInfo.LastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberPersonalInfo.Gender">
                                                                <option value="Gender">Gender</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberPersonalInfo.MaritalStatus">
                                                                <option value="0">Marital Status</option>
                                                                <option value="Married">Married</option>
                                                                <option value="Unmarried">Unmarried</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <label>Date of Birth</label>
                                                        <input type="date" name="BirthDate" asp-for="MemberPersonalInfo.BirthDate" class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberPersonalInfo.BloodGroup">
                                                                <option value="0">Blood Group</option>
                                                                <option value="A+">A positive (A+)</option>
                                                                <option value="A-">A Negative (A-)</option>
                                                                <option value="B+">B Positive (B+)</option>
                                                                <option value="B-">B Negative (B-)</option>
                                                                <option value="O+">O Positive (O+)</option>
                                                                <option value="O-">O Negative (O-)</option>
                                                                <option value="AB+">AB positive (AB+)</option>
                                                                <option value="AB-">AB Negative (AB-)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="address" asp-for="MemberPersonalInfo.Address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="area" asp-for="MemberPersonalInfo.Area" placeholder="Area" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Area'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="city" asp-for="MemberPersonalInfo.City" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="pincode" asp-for="MemberPersonalInfo.Pincode" placeholder="Pincode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pincode'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="taluka" asp-for="MemberPersonalInfo.Taluka" placeholder="Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Taluka'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="district" asp-for="MemberPersonalInfo.District" placeholder="District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'District'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="state" asp-for="MemberPersonalInfo.State" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'"
                                                               required class="single-input">
                                                    </div>





                                                    <div class="mt-10 center">
                                                        <button type="submit" class="genric-btn primary-border fa-align-right">Update</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>

                                </section>


                                <input name="tab" id="tab2" type="radio" />
                                <section class="tab-content">
                                    <h2> मुळगाव व संपर्क</h2>
                                    <div class="section-top-border">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-10">
                                                <form asp-controller="Member" asp-action="MemberContactInfo" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" asp-for="MemberConatctInfo.MemberId" />
                                                    <div class="input-group-icon mt-3">
                                                        <input type="text" name="NativePlace" asp-for="MemberConatctInfo.NativePlace" placeholder="Native Place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="NativePlaceTaluka" asp-for="MemberConatctInfo.NativePlaceTaluka" placeholder="Native Place Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place Taluka'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="NativePlaceDist" asp-for="MemberConatctInfo.NativePlaceDist" placeholder="Native Place District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place District'"
                                                               required class="single-input">
                                                    </div>


                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Mobile1" asp-for="MemberConatctInfo.Mobile1" placeholder="Personal Mobile 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 1'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Mobile2" asp-for="MemberConatctInfo.Mobile2" placeholder="Personal Mobile 2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 2'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="email" name="EmailId" asp-for="MemberConatctInfo.EmailId" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="RelativeName" asp-for="MemberConatctInfo.RelativeName" placeholder="Ref. Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ref. Full Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="RelativeAddress" asp-for="MemberConatctInfo.RelativeAddress" placeholder="Reference / Relative full address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference / Relative full address'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="RelativeContact1" asp-for="MemberConatctInfo.RelativeContact1" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 1'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="RelativeContact2" asp-for="MemberConatctInfo.RelativeContact2" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 2'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="mt-10 center">
                                                        <button type="submit" class="genric-btn primary-border">Update</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </section>

                                <input name="tab" id="tab3" type="radio" />
                                <section class="tab-content">
                                    <h2> शिक्षण / नोकरी</h2>
                                    <div class="section-top-border">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-10">
                                                <form asp-action="MemberEduEmpInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" asp-for="MemberEducationEmploymentInfo.MemberId" />
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Qualification" asp-for="MemberEducationEmploymentInfo.Qualification" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberEducationEmploymentInfo.Proffession">
                                                                <option value="0">Occupation</option>
                                                                <option value="Business">Business</option>
                                                                <option value="Job">Job</option>
                                                                <option value="Farmer">Farmer</option>
                                                                <option value="Student">Student</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="CompanyName" asp-for="MemberEducationEmploymentInfo.CompanyName" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="CompanyAddress" asp-for="MemberEducationEmploymentInfo.CompanyAddress" placeholder="Company Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Address'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="BusinessName" asp-for="MemberEducationEmploymentInfo.BusinessName" placeholder="Business Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="BusinessAddress" asp-for="MemberEducationEmploymentInfo.BusinessAddress" placeholder="Business Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Address'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="mt-10 center">
                                                        <button type="submit" class="genric-btn primary-border">Update</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </section>

                                <input name="tab" id="tab4" type="radio" />
                                <section class="tab-content">
                                    <h2> कुटुंबाविषयी माहिती</h2>
                                    <div class="section-top-border">

                                        <div class="row">
                                            <div class="col-lg-10 col-md-10">
                                                <form asp-action="AddToList" asp-controller="Member" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" asp-for="MemberFamilyInfo.MemberFamilyDetails" />
                                                    <input type="hidden" asp-for="MemberFamilyInfo.MemberId" />
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Name" asp-for="MemberFamilyInfo.Name" placeholder="Family member Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberFamilyInfo.Relation">
                                                                <option value="0">Relations</option>
                                                                <option value="Husband">Husband</option>
                                                                <option value="Wife">Wife</option>
                                                                <option value="Daughter">Daughter</option>
                                                                <option value="Son">Son</option>
                                                                <option value="Father">Father</option>
                                                                <option value="Mother">Mother</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Education" asp-for="MemberFamilyInfo.Education" placeholder="Family member Education" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Education'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberFamilyInfo.Occupation">
                                                                <option value="0">Family Member Occupation</option>
                                                                <option value="Working">Working</option>
                                                                <option value="Business">Business</option>
                                                                <option value="Housewife">Housewife</option>
                                                                <option value="Student">Student</option>
                                                                <option value="Retired">Retired</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        Date of Birth: <input type="date" name="DOB" asp-for="MemberFamilyInfo.DOB" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'"
                                                                              required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        Blood Group :
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select asp-for="MemberFamilyInfo.BloodGroup">
                                                                <option value="0">-- Select Blood Group --</option>
                                                                <option value="A+">A positive (A+)</option>
                                                                <option value="A-">A Negative (A-)</option>
                                                                <option value="B+">B Positive (B+)</option>
                                                                <option value="B-">B Negative (B-)</option>
                                                                <option value="O+">O Positive (O+)</option>
                                                                <option value="O-">O Negative (O-)</option>
                                                                <option value="AB+">AB positive (AB+)</option>
                                                                <option value="AB-">AB Negative (AB-)</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="mt-10 center">
                                                        <button class="genric-btn primary-border">Add to List</button>
                                                    </div>
                                                    @if (ViewBag.MemberList != null)
                                                    {
                                                        <div class="mt-10 center">
                                                            <table class="table table-info">
                                                                <thead>
                                                                    <tr>
                                                                        <td>Name</td>
                                                                        <td>Relation</td>
                                                                        <td>Education</td>
                                                                        <td>Occupation</td>
                                                                        <td>Blood Group</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var familyMember in ViewBag.MemberList)
                                                                    {
                                                                        <tr>
                                                                            <td>@familyMember.Name</td>
                                                                            <td>@familyMember.Relation</td>
                                                                            <td>@familyMember.Education</td>
                                                                            <td>@familyMember.Occupation</td>
                                                                            <td>@familyMember.BloodGroup</td>
                                                                        </tr>

                                                                    }

                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    }

                                                </form>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <form asp-action="MemberFamilyInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                                                <input type="hidden" asp-for="MemberFamilyInfo.MemberId" />
                                                <input type="hidden" asp-for="MemberFamilyInfo.MemberFamilyDetails" value="@ViewBag.MemberList" />
                                                <div class="mt-10 right">
                                                    <button type="submit" class="genric-btn primary-border">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>

                                <input name="tab" id="tab5" type="radio" />
                                <section class="tab-content">
                                    <h2> सभासदत्व माहिती </h2>
                                    <div class="section-top-border">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-10">
                                                <form action="#">
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Fname" placeholder="Ref. Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ref. Full Name'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="address" placeholder="Reference / Relative full address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference / Relative full address'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="mobile1" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 1'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="mobile2" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 2'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="charges_paid" placeholder="Charges Paid" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Charges Paid'"
                                                               required class="single-input">
                                                    </div>
                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select>
                                                                <option value="0">Paid Through</option>
                                                                <option value="2">Cash</option>
                                                                <option value="3">Online</option>
                                                                <option value="4">Cheque</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="TransactionID" placeholder="Transaction ID/ Ref. ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Transaction ID/ Ref. ID'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <label>Transaction Date</label>
                                                        <input type="date" name="DOB" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="RecieptNo." placeholder="RecieptNo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'RecieptNo'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <input type="text" name="Membership Number" placeholder="Membership Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Membership Number'"
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <label>Membership Date (auto fill while approval)</label>
                                                        <input type="date" name="DOB" placeholder="Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date'" readonly
                                                               required class="single-input">
                                                    </div>

                                                    <div class="input-group-icon mt-10">
                                                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                        <div class="form-select" id="default-select">
                                                            <select>
                                                                <option value="0">Male</option>
                                                                <option value="2">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="mt-10 center">
                                                        <a href="#" class="genric-btn primary-border">Submit</a>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                    </section>
            </div>
            </div>
        </div>
</section>

