@model MemberFamilyInfoViewModel
@{
    ViewData["Title"] = "MemberFamilyInfo";
    Layout = "~/Views/Shared/_LayoutMemberForm.cshtml";
}
<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#DOB').attr('max', maxDate);
    });
</script>
<input name="tab" id="tab4" type="radio" checked />
<section class="tab-content">
    <h2> कुटुंबाविषयी माहिती</h2>
    <div class="section-top-border">

        <div class="row">
            <div class="col-lg-10 col-md-10">
                <form asp-action="AddToList" asp-controller="Member" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="MemberFamilyDetails" />
                    <input type="hidden" asp-for="MemberId" />
                    <div class="input-group-icon mt-10">
                        <input type="text" name="Name" asp-for="Name" placeholder="Family member Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Name'"
                               required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select asp-for="Relation">
                                <option value="0">Relations</option>
                                <option value="Husband">Husband</option>
                                <option value="Wife">Wife</option>
                                <option value="Daughter">Daughter</option>
                                <option value="Son">Son</option>
                                <option value="Father">Father</option>
                                <option value="Mother">Mother</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group-icon mt-10">
                        <input type="text" name="Education" asp-for="Education" placeholder="Family member Education" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Education'"
                               required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="form-select" id="default-select">
                            <select asp-for="Occupation">
                                <option value="0">Family Member Occupation</option>
                                <option value="Working">Working</option>
                                <option value="Business">Business</option>
                                <option value="Housewife">Housewife</option>
                                <option value="Student">Student</option>
                                <option value="Retired">Retired</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group-icon mt-10">
                        Date of Birth: <input type="date" name="DOB" asp-for="DOB" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'"
                                              required class="single-input">
                    </div>

                    <div class="input-group-icon mt-10">
                        Blood Group :
                        <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select asp-for="BloodGroup">
                                <option value="0">-- Select Blood Group --</option>
                                <option value="A+">A positive (A+)</option>
                                <option value="A-">A Negative (A-)</option>
                                <option value="B+">B Positive (B+)</option>
                                <option value="B-">B Negative (B-)</option>
                                <option value="O+">O Positive (O+)</option>
                                <option value="O-">O Negative (O-)</option>
                                <option value="AB+">AB positive (AB+)</option>
                                <option value="AB-">AB Negative (AB-)</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="mt-10 center">
                        <button class="genric-btn primary-border">Add to List</button>
                    </div>
                    @if (ViewBag.MemberList != null)
                    {
                        <div class="mt-10 center">
                            <table class="table table-info">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Relation</td>
                                        <td>Education</td>
                                        <td>Occupation</td>
                                        <td>Blood Group</td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var familyMember in ViewBag.MemberList)
                                    {
                                        <tr>
                                            <td>@familyMember.Name</td>
                                            <td>@familyMember.Relation</td>
                                            <td>@familyMember.Education</td>
                                            <td>@familyMember.Occupation</td>
                                            <td>@familyMember.BloodGroup</td>
                                        </tr>

                                    }

                                </tbody>
                            </table>

                        </div>
                    }

                </form>
            </div>

        </div>
        <div class="row">
            <form asp-action="MemberFamilyInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="MemberId" />
                <input type="hidden" asp-for="MemberFamilyDetails" value="@ViewBag.MemberList" />
                <div class="mt-10 right">
                    <button type="submit" class="genric-btn primary-border">Save & Continue..</button>
                </div>
            </form>
        </div>
    </div>
</section>