@model MemberFormCommonViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .image-upload > input {
        display: none;
    }

    #myProgress {
        width: 100%;
        background-color: #eeeeee;
    }

    #myBar {
        width: 50%;
        height: 30px;
        background-color: green;
    }
</style>
<script>
    // End jQuery Nice Select



    $(document).ready(function () {

        $("#btnPersonalSave").click(function (e) {

            if ($('#title').val() === '') {
                e.preventDefault();
                $('#title').focus();
                alert("Please Select Title")
            }

            else if ($('#selectGender').val() === '') {
                e.preventDefault();
                $('#selectGender').focus();
                alert("Please Select Gender")
            }
            else if ($('#selectMaritalStatus').val() === '') {
                e.preventDefault();
                $('#selectBloodGroup').focus();
                alert("Please Select Marital Status")
            }
            else if ($('#selectBloodGroup').val() === '') {
                e.preventDefault();
                $('#selectBloodGroup').focus();
                alert("Please Select Blood Group")
            }
        });

        $("#btneducationSave").click(function (e) {
            if ($('#selectOccupation').val() === '') {
                e.preventDefault();
                $('#selectOccupation').focus();
                alert("Please Select Occupation")
            }

        });
        $("#btnAddFamilyMember").click(function (e) {

            if ($('#selectRelation').val() === '') {
                e.preventDefault();
                $('#selectRelation').focus();
                alert("Please Select Relation")
            }
            //else if ($('#selectFamilyOccupation').val() === '') {
            //    e.preventDefault();
            //    $('#selectFamilyOccupation').focus();
            //    alert("Please Select Occupation")
            //}
            else if ($('#selectBloodGroup').val() === '') {
                e.preventDefault();
                $('#selectBloodGroup').focus();
                alert("Please Select Blood Group")
            }
        });
        $('#title').on('change', function () {
            $(this).valid();
        })

        // Activate NiceSelect (Validate doesn't work)
        $('#title').niceSelect();

        var pincodeval = $("#pincode").val();
        if (pincodeval == "0")
            $("#pincode").val("");


        $('#MemberConatctInfo.Mobile1').keypress(function (e) {

            var charCode = (e.which) ? e.which : event.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9]/g))

                return false;

        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("birthdateCtrl").setAttribute("max", today);
        document.getElementById("familyDOB").setAttribute("max", today);



    });//document close
</script>
<div class="container" style="margin-top:25px;">
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td style="background-color:#7c0053">
                        <div class="photo-container1">
                            <form asp-action="UploadProfileImage" asp-controller="OTPVerify" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="MemberId" />
                                @if (Model.MemberPersonalInfo.MemberProfileImage != null)
                                {
                                    <img src="~/MemberProfileImages/@Model.MemberPersonalInfo.MemberProfileImage.Split('/')[2]" class="view_prof_i">
                                }
                                else
                                {
                                    <img src="~/img/Noavatar.png" class="view_prof_i">
                                }
                                <div class="image-upload" style="text-align:center;color:#ffffff">
                                    <label for="file-input">
                                        edit
                                        <img src="~/img/upload_icon.png" width="20px" height="15px">
                                    </label>
                                    <input id="file-input" type="file" asp-for="file" />
                                </div>
                                <div>
                                    <button type="submit" style="font-size:10px;">Set profile Image</button>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td width="100%" style="background-color:#7c0053">
                        <section class="data-content1">
                            <table>
                                <tr>
                                    <td><label class="lbl_profile"><strong>सभासदाचे नाव:</strong> @Model.MemberPersonalInfo.PrefixM @Model.MemberPersonalInfo.FirstNameM @Model.MemberPersonalInfo.MiddleNameM @Model.MemberPersonalInfo.LastNameM</label></td>
                                </tr>
                                <tr>
                                    <td><label class="lbl_profile">सभासद क्रमांक: @Model.MemberPaymentInfo.MemberShipIdM </label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="lbl_profile">
                                            जन्म तारीख: @if (Model.MemberPersonalInfo.BirthDate != DateTime.MinValue)
                                            {@Model.MemberPersonalInfo.BirthDate.ToShortDateString()}
                                        </label>
                                    </td>
                                </tr>
                                <tr><td><label class="lbl_profile">मोबाईल: @Model.MemberConatctInfo.Mobile1 </label></td></tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="myProgress">
                            <label for="file">Member Profile Completion Status:@Model.ProfilePercentage%</label>
                            <progress style="vertical-align:bottom;height:50px;width:100%;" id="file" value="@Model.ProfilePercentage" max="100"></progress> 
                        </div>
                    </td>
                </tr>
            </table>
            <div class="rt-container">
                <div class="col-rt-12">
                    <div class="Scriptcontent">
                        <section class="tabs-container">
                            <label for="tab1" class="yel"><img src="~/img/profile.png" class="matri-icon"><br /> वैयक्तिक माहिती </label>
                            <label for="tab2" class="yel"><img src="~/img/contact-details-m.png" class="matri-icon"><br /> मुळगाव व संपर्क</label>
                            <label for="tab3" class="yel"><img src="~/img/mortarboard.png" class="matri-icon"><br> शिक्षण / नोकरी </label>
                            <label for="tab4" class="yel"><img src="~/img/people.png" class="matri-icon"><br> कुटुंबाविषयी माहिती </label>
                            @*<label for="tab5" class="yel"><img src="~/img/contact-img.png" class="matri-icon"><br> सभासदत्व नोंदणी शुल्क</label>*@
                        </section>

                        <input name="tab" id="tab1" type="radio" @Model.MemberPersonalInfo.ActiveTab />

                        <section class="tab-content">
                            <div class="section-top-border updatep">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="MemberPersonalInfo" asp-controller="OTPVerify" method="post" enctype="multipart/form-data" id="personalInfoForm">
                                            <input type="hidden" asp-for="MemberPersonalInfo.MemberId" />
                                            <input type="hidden" asp-for="MemberPersonalInfo.IsNew" />
                                            <div class="input-group-icon">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select id="title" asp-for="MemberPersonalInfo.Prefix" required>
                                                        <option value="">Select Title</option>
                                                        <option value="Shree">Shree</option>
                                                        <option value="Sou">Sou</option>
                                                        <option value="Shreemati">Shreemati</option>
                                                        <option value="Doctor">Doctor</option>
                                                        <option value="Adv">Adv</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="input-group-icon">
                                                <input type="text" name="MemberPersonalInfo.FirstName" asp-for="MemberPersonalInfo.FirstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon">
                                                <input type="text" name="MemberPersonalInfo.MiddleName" asp-for="MemberPersonalInfo.MiddleName" placeholder="Middle Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Middle Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon">
                                                <input type="text" name="MemberPersonalInfo.LastName" asp-for="MemberPersonalInfo.LastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPersonalInfo.Gender" id="selectGender" required>
                                                        <option value="">Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-group-icon">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberPersonalInfo.MaritalStatus" required id="selectMaritalStatus">
                                                        <option value="">Marital Status</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Unmarried">Unmarried</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <label>Date of Birth</label>
                                                <input type="date" id="birthdateCtrl" min="1950-01-01" max="" name="MemberPersonalInfo.BirthDate" asp-for="MemberPersonalInfo.BirthDate" class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select id="selectBloodGroup" asp-for="MemberPersonalInfo.BloodGroup" required>
                                                        <option value="">Select Blood Group</option>
                                                        <option value="A+">A positive (A+)</option>
                                                        <option value="A-">A Negative (A-)</option>
                                                        <option value="B+">B Positive (B+)</option>
                                                        <option value="B-">B Negative (B-)</option>
                                                        <option value="O+">O Positive (O+)</option>
                                                        <option value="O-">O Negative (O-)</option>
                                                        <option value="AB+">AB positive (AB+)</option>
                                                        <option value="AB-">AB Negative (AB-)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Address" asp-for="MemberPersonalInfo.Address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Area" asp-for="MemberPersonalInfo.Area" placeholder="Area" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Area'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.City" asp-for="MemberPersonalInfo.City" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input id="pincode" type="text" name="MemberPersonalInfo.Pincode" asp-for="MemberPersonalInfo.Pincode" placeholder="Pincode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pincode'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.Taluka" asp-for="MemberPersonalInfo.Taluka" placeholder="Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Taluka'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.District" asp-for="MemberPersonalInfo.District" placeholder="District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'District'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberPersonalInfo.State" asp-for="MemberPersonalInfo.State" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'"
                                                       required class="single-input">
                                            </div>
                                            <div class="mt-10 center">
                                                <button id="btnPersonalSave" type="submit" class="genric-btn primary-border fa-align-right">Save</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </section>


                        <input name="tab" id="tab2" type="radio" @Model.MemberConatctInfo.ActiveTab />
                        <section class="tab-content">
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-controller="OTPVerify" asp-action="MemberContactInfo" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberConatctInfo.MemberId" />
                                            <input type="hidden" asp-for="MemberConatctInfo.IsNew" />
                                            <div class="input-group-icon mt-3">
                                                <input type="text" name="MemberConatctInfo.NativePlace" asp-for="MemberConatctInfo.NativePlace" placeholder="Native Place" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.NativePlaceTaluka" asp-for="MemberConatctInfo.NativePlaceTaluka" placeholder="Native Place Taluka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place Taluka'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.NativePlaceDist" asp-for="MemberConatctInfo.NativePlaceDist" placeholder="Native Place District" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Native Place District'"
                                                       required class="single-input">
                                            </div>


                                            <div class="input-group-icon mt-10">
                                                <input type="text" id="MemberConatctInfo.Mobile1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" maxlength="10" name="MemberConatctInfo.Mobile1" asp-for="MemberConatctInfo.Mobile1" placeholder="Personal Mobile 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 1'"
                                                       required class="single-input">
                                            </div>


                                            <div class="input-group-icon mt-10">
                                                <input type="text" id="MemberConatctInfo.Mobile2" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" maxlength="10" name="MemberConatctInfo.Mobile2" asp-for="MemberConatctInfo.Mobile2" placeholder="Personal Mobile 2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Personal Mobile 2'"
                                                       required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="email" name="MemberConatctInfo.EmailId" asp-for="MemberConatctInfo.EmailId" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.RelativeName" asp-for="MemberConatctInfo.RelativeName" placeholder="Ref. Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ref. Full Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberConatctInfo.RelativeAddress" asp-for="MemberConatctInfo.RelativeAddress" placeholder="Reference / Relative full address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference / Relative full address'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" maxlength="10" name="MemberConatctInfo.RelativeContact1" asp-for="MemberConatctInfo.RelativeContact1" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 1'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" maxlength="10" name="MemberConatctInfo.RelativeContact2" asp-for="MemberConatctInfo.RelativeContact2" placeholder="Reference Mobile Number 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Reference Mobile Number 2'"
                                                       required class="single-input">
                                            </div>
                                            <div class="mt-10 center">
                                                <button type="submit" class="genric-btn primary-border">Save</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab3" type="radio" @Model.MemberEducationEmploymentInfo.ActiveTab />
                        <section class="tab-content">

                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="MemberEduEmpInfo" asp-controller="OTPVerify" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="MemberEducationEmploymentInfo.MemberId" />
                                            <input type="hidden" asp-for="MemberEducationEmploymentInfo.IsNew" />
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.Qualification" asp-for="MemberEducationEmploymentInfo.Qualification" placeholder="Qualification" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Qualification'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberEducationEmploymentInfo.Proffession" required id="selectOccupation">
                                                        <option value="">Occupation</option>
                                                        <option value="Business">Business</option>
                                                        <option value="Job">Job</option>
                                                        <option value="Farmer">Farmer</option>
                                                        <option value="Student">Student</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.CompanyName" asp-for="MemberEducationEmploymentInfo.CompanyName" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.CompanyAddress" asp-for="MemberEducationEmploymentInfo.CompanyAddress" placeholder="Company Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Address'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.BusinessName" asp-for="MemberEducationEmploymentInfo.BusinessName" placeholder="Business Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Name'"
                                                       class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberEducationEmploymentInfo.BusinessAddress" asp-for="MemberEducationEmploymentInfo.BusinessAddress" placeholder="Business Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Address'"
                                                       class="single-input">
                                            </div>
                                            <div class="mt-10 center">
                                                <button id="btneducationSave" type="submit" class="genric-btn primary-border">Save</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <input name="tab" id="tab4" type="radio" @ViewBag.FamilyTab />
                        <section class="tab-content">

                            <div class="section-top-border">

                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="AddToList" asp-controller="OTPVerify" method="post" enctype="multipart/form-data">
                                            @*<input type="hidden" asp-for="MemberFamilyInfo.MemberFamilyDetails" />*@
                                            <input type="hidden" asp-for="MemberFamilyInfo.MemberId" />
                                            <input type="hidden" asp-for="MemberFamilyInfo.IsNew" />
                                            <input type="hidden" asp-for="MemberFamilyInfo.FamilyDetailsID" />
                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberFamilyInfo.Name" asp-for="MemberFamilyInfo.Name" placeholder="Family member Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Name'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberFamilyInfo.Relation" id="selectRelation">
                                                        <option value="">Relations</option>
                                                        <option value="Husband">Husband</option>
                                                        <option value="Wife">Wife</option>
                                                        <option value="Daughter">Daughter</option>
                                                        <option value="Son">Son</option>
                                                        <option value="Father">Father</option>
                                                        <option value="Mother">Mother</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                <input type="text" name="MemberFamilyInfo.Education" asp-for="MemberFamilyInfo.Education" placeholder="Family member Education" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Family member Education'"
                                                       required class="single-input">
                                            </div>
                                            <div class="input-group-icon mt-10">
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberFamilyInfo.Occupation" id="selectFamilyOccupation">
                                                        <option value="">Family Member Occupation</option>
                                                        <option value="Working">Working</option>
                                                        <option value="Business">Business</option>
                                                        <option value="Housewife">Housewife</option>
                                                        <option value="Student">Student</option>
                                                        <option value="Retired">Retired</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                Date of Birth: <input type="date" id="familyDOB" min="1950-01-01" name="MemberFamilyInfo.DOB" asp-for="MemberFamilyInfo.DOB" placeholder="Date of Birth" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of Birth'"
                                                                      required class="single-input">
                                            </div>

                                            <div class="input-group-icon mt-10">
                                                Blood Group :
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select">
                                                    <select asp-for="MemberFamilyInfo.BloodGroup" id="selectBloodGroup">
                                                        <option value="">-- Select Blood Group --</option>
                                                        <option value="A+">A positive (A+)</option>
                                                        <option value="A-">A Negative (A-)</option>
                                                        <option value="B+">B Positive (B+)</option>
                                                        <option value="B-">B Negative (B-)</option>
                                                        <option value="O+">O Positive (O+)</option>
                                                        <option value="O-">O Negative (O-)</option>
                                                        <option value="AB+">AB positive (AB+)</option>
                                                        <option value="AB-">AB Negative (AB-)</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="mt-10 center">
                                                @if (Model.MemberFamilyInfo.IsNew)
                                                {
                                                    <button id="btnAddFamilyMember" class="genric-btn primary-border">Add to List</button>
                                                }
                                                else
                                                {
                                                    <button id="btnAddFamilyMember" class="genric-btn primary-border">Update to List</button>
                                                }
                                            </div>
                                            @if (Model.MemberFamilyInfo.MemberFamilyDetails != null)
                                            {
                                                <div class="mt-10 center">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr style="font-weight:bold">
                                                                <td>Name</td>
                                                                <td>Relation</td>
                                                                <td>Operations</td>
                                                                @*<td>Occupation</td>
                            <td>Blood Group</td>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var familyMember in Model.MemberFamilyInfo.MemberFamilyDetails)
                                                            {
                                                                <tr>
                                                                    <td>@familyMember.Name</td>
                                                                    <td>@familyMember.Relation</td>
                                                                    <td>
                                                                        <a title="Edit" href="@Url.Action("EditFamilyMember","OTPVerify",new { id = familyMember.FamilyDetailsID})"><i class="ti-pencil"></i></a>
                                                                        <a title="Delete" href="@Url.Action("DeleteFamilyMember","OTPVerify",new { id =familyMember.FamilyDetailsID,memberId=familyMember.MemberId})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-close"></i></a>
                                                                    </td>
                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>

                                                </div>
                                            }

                                        </form>
                                    </div>

                                </div>
                                <div class="row">
                                    <!--<form asp-action="MemberFamilyInfo" asp-controller="Member" method="post" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="MemberFamilyInfo.MemberId" />
                                    <input name="MemberFamilyInfo.MemberFamilyDetails" type="hidden" asp-for="MemberFamilyInfo.MemberFamilyDetails" value="@ViewBag.MemberList" />
                                    <div class="mt-10 right">-->
                                    @*<button type="submit" class="genric-btn primary-border">Save</button>*@
                                    <!--</div>
                                    </form>-->
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10">
                                        <form asp-action="GoToPayment" asp-controller="OTPVerify" method="post">
                                            <input type="hidden" asp-for="MemberPaymentInfo.MemberId" />
                                            <div class="input-group-icon mt-10">
                                                <label> सदस्य नोंदणी शुल्क भरणेसाठी खालील बटणावर क्लिक करा</label>
                                            </div>


                                            <div class="input-group-icon mt-10">
                                                <button type="submit" class="genric-btn primary-border">proceed to Pay</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </section>

                        @*<input name="tab" id="tab5" type="radio" @Model.MemberPaymentInfo.ActiveTab />
                            <section class="tab-content">
                                <div class="section-top-border">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10">
                                            <form asp-action="GoToPayment" asp-controller="OTPVerify" method="post">
                                                <input type="hidden" asp-for="MemberPaymentInfo.MemberId" />
                                                <div class="input-group-icon mt-10">
                                                    <label> सदस्य नोंदणी शुल्क भरणेसाठी खालील बटणावर क्लिक करा</label>
                                                </div>


                                                <div class="input-group-icon mt-10">
                                                    <button type="submit" class="genric-btn primary-border">proceed to Pay</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </section>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var i = 0;
    function move() {
        if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                }
            }
        }
    }</script>
