@model EventAdsViewModel
@{
    ViewData["Title"] = "AddEventAds";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}<script>
    $(document).ready(function () {
        $("#eventAdsForm").hide();
        $('#tblEventAds').DataTable();
        $("#btnAddNew").click(function () {
            $("#eventAdsForm").show();
            $(this).hide();
        });
        $("#btnCancel").click(function () {
            $("#eventAdsForm").hide();
            $("#btnAddNew").show();
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll">
                <p>Event Advertisement Details</p>
            </div>
            <div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div style="height:25px"></div>
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-12 col-md-12" id="eventAdsForm">
                        <form asp-action="AddEventAds" asp-controller="AdminDashboard" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-select" id="default-select">
                                        <select asp-for="EventYear"asp-items="Model.EventYears" required>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="form-select" id="default-select">
                                        <select asp-for="EventTitle" asp-items="Model.EventTitles" required>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <br>
                                    <input type="file" name="file" asp-for="file" placeholder="Name of the firm / Industry" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name of the firm / Industry'"
                                           required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="margin-top:10px">
                                    <input type="submit" class="genric-btn primary-border" />

                                </div>
                                <div class="col-lg-4">
                                    <input type="button" id="btnCancel" class="genric-btn primary-border" value="Cancel" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button value="Add New" id="btnAddNew" class="btn btn-danger">Add New</button>
        </div>
        <br />
        <div class="col-lg-12">
            <table id="tblEventAds" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Event Title</th>
                        <th>Event Year</th>
                        <th>File</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.EventAds != null)
                    {
                        foreach (var eventAd in Model.EventAds)
                        {
                    <tr>
                        <td>@eventAd.EventTitle</td>
                        <td>@eventAd.EventYear</td>
                        <td>@eventAd.FilePath</td>

                        <td>
                            <a title="Edit" href="@Url.Action("EditEventAd","AdminDashboard",new { id = eventAd.Id})"><i class="ti-pencil"></i></a>
                            <a title="Delete" href="@Url.Action("DeleteEventAd","AdminDashboard",new { id = eventAd.Id})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-close"></i></a>
                        </td>
                    </tr>
                        }

                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
