@model EventViewModel
@{
    ViewData["Title"] = "AddEvent";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

}
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        $("#eventForm").hide();
        $('#tblEvents').DataTable();
        $("#btnAddNew").click(function () {
            $("#eventForm").show();
            $(this).hide();
        });
        $("#btnCancel").click(function () {
            $("#eventForm").hide();
            $("#btnAddNew").show();
        });
    });
</script>
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="col-lg-12">
                    <div class="scroll">
                        <p>Event Details</p>
                    </div>
                    <div>
                    </div>
                </div>


                <div class="section-top-border">
                    <div class="row" id="eventForm">
                        <div class="col-lg-10 col-md-10">
                            <form asp-action="AddEvent" asp-controller="AdminDashboard" method="post" enctype="multipart/form-data">

                                <div class="input-group-icon mt-10">
                                    <div class="form-select" id="default-select">
                                        <select asp-items="Model.EventYears" asp-for="EventYear">
                                           
                                        </select>
                                    </div>
                                </div>


                                <div class="input-group-icon mt-10">
                                    <div class="form-select" id="default-select">
                                        <select asp-for="EventName" asp-items="Model.EventTitles">
                                         
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-10">
                                    <textarea class="single-textarea" id="text" name="EventDescription" asp-for="EventDescription" placeholder="EventDescription" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Description'"
                                              required></textarea>
                                </div>
                                <div class="mt-10">
                                    <p>upload event images</p>
                                    <input type="file" class="single-input" asp-for="FormFiles" multiple="multiple" placeholder="Event Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Descriptionn'" />
                                </div>
                                <div class="mt-10" style="float:right">
                                    <input type="submit" class="genric-btn primary" style="background-color:#77002e;margin-right:20px">
                                    <input type="button" id="btnCancel" class="genric-btn primary" style="background-color:#77002e;margin-right:20px" value="Cancel">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>






            </div>

        </div>
    </div>
    @*Event list*@
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button value="Add New" id="btnAddNew" class="btn btn-danger">Add New</button>
            </div>
            <br />
            <div class="col-lg-12">
                
                <table id="tblEvents" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Event Title</th>
                            <th>Event Description</th>
                            <th>Event Year</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.EventInfos != null)
                        {
                            foreach (var eventAd in Model.EventInfos)
                            {
                        <tr>
                            <td>@eventAd.EventName</td>
                            <td>@Html.Raw(string.Join(" ", eventAd.EventDescription.Split().Take(20)))</td>
                            <td>@eventAd.EventYear</td>
                           
                            <td>
                                <a href="@Url.Action("EditEvent","AdminDashboard",new { id = eventAd.EventId})"><i class="ti-pencil"></i></a>
                                <a title="Delete Event" href="@Url.Action("DeleteEvent","AdminDashboard",new { id = eventAd.EventId})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-close"></i></a>
                            </td>
                            
                        </tr>
                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

<script>
        $(function () {
            CKEDITOR.replace('text');
        });
    </script>
