@model MemberMeetingsViewModel
@{
    ViewData["Title"] = "MemberMeetings";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}


<script>
    $(document).ready(function () {
        $("#eventForm").hide();
        $('#tblEvents').DataTable();
        $("#btnAddNew").click(function () {
            $("#eventForm").show();
            $(this).hide();
        });
        $("#btnCancel").click(function () {
            $("#eventForm").hide();
            $("#btnAddNew").show();
        });
    });
</script>
<style>
.me{width:200px}
</style>
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="scroll">
                    <p>Member Meeting Details</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top-border">
                    <div class="row" id="eventForm">
                        <form asp-action="AddMemberMeeting" asp-controller="AdminDashboard" method="post">
                            <div class="col-lg-12 col-md-12">

                                <div class="col-lg-4">
                                    <div class="input-group-icon">
                                    <input type="date" class="single-input me" asp-for="MeetingDate" placeholder="Meeting Date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Meeting Date'" />
                                    </div>
                                </div>
                                
                                <div class="col-lg-4">
                                    <div class="input-group-icon">
                                    <input type="text" class="single-input me" asp-for="MeetingTitle" placeholder="Meeting Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Meeting Title'" />
                                    </div>
                                </div>
                                
                                <div class="col-lg-4">
                                <div class="input-group-icon">
                                    <input type="text" class="single-input me" asp-for="MeetingURL" placeholder="MeetingURL" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Meeting URL'" />
                                </div>
                                </div>
                            </div>
                            <div class="mt-10">
                                <input type="radio" id="html" name="Status" value="Active" asp-for="Status">
                                <label for="html">Active</label><br>
                                <input type="radio" id="css" name="Status" value="InActive" asp-for="Status">
                                <label for="css">InActive</label><br>
                            </div>

                            <div class="mt-10" style="float:right">
                                <input type="submit" class="genric-btn primary" style="background-color:#77002e;margin-right:20px">
                                <input type="button" id="btnCancel" class="genric-btn primary" style="background-color:#77002e;margin-right:20px" value="Cancel">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    @*Event list*@
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin:10px 0px 10px 13px;">
                <button value="Add New" id="btnAddNew" class="btn btn-danger">Add New</button>
            </div>
            <br />
            <div class="col-lg-12">

                <table id="tblEvents" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Meeting Date</th>
                            <th>Meeting Title</th>
                            <th>Meeting URL</th>
                            <th>Status</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MemberMeetings != null)
                        {
                            foreach (var eventAd in Model.MemberMeetings)
                            {
                        <tr>
                            <td>@eventAd.MeetingDate</td>
                            <td>@eventAd.MeetingTitle</td>
                            <td>@eventAd.MeetingURL</td>
                            <td>@eventAd.Status</td>
                            <td>
                                <a href="@Url.Action("EditMeeting","AdminDashboard",new { id = eventAd.Id})"><i class="ti-pencil"></i></a>
                                <a title="Delete Event" href="@Url.Action("DeleteMeeting","AdminDashboard",new { id = eventAd.Id})" class="delete-row" onclick="return confirm('Are sure wants to delete?');"><i class="ti-close"></i></a>
                            </td>

                        </tr>
                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

