@model MemberBusinessViewModel
@{
    ViewData["Title"] = "BusinessDirectory";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Business Directory Search</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jobresulttitle"><h4>Showing Result(s): <span style="color:#7c0053"> @Model.MemberBusinesses.Count</span></h4></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 search_result">
                     @if (Model.MemberBusinesses.Count > 0)
                     {
                     foreach (MemberBusinessViewModel memberBusiness in Model.MemberBusinesses)
                     {
                         <div class="container mySlides">
                                                <div class="row">
                                                    <lable><b>Business Title</b>:<br /> @memberBusiness.BusinessTitle</lable><br />
                                                    <lable><b>Name of the firm / Industry</b>:<br /> @memberBusiness.BusinessIndustry</lable><br />
                                                    <lable><b>Company location</b>:<br /> @memberBusiness.CompanyLocation</lable><br />
                                                    <lable><b>Address</b>:<br /> @memberBusiness.Address</lable><br />
                                                    <lable><b>Owner name</b>:<br /> @memberBusiness.OwnerName</lable><br />
                                                    <lable><b>Products or Services</b>:<br /> @memberBusiness.ProductsServices</lable><br />
                                                    <lable><b>Qualification required</b>:<br /> @memberBusiness.Qualification</lable><br />
                                                    <img src="~/img/whats-app.png" width="15px" height="15px"> <lable><b> Company Contact</b>:<br /> @memberBusiness.CompanyContact</lable><br />
                                                    <lable><b>Email</b> : @memberBusiness.CompanyEmail</lable><br />
                                                </div>
                                                

                                                <div class="row">
                                                    <div class="col-lg-10" style="float:right; margin-top:20px; margin-bottom:10px">
                                                        <a href="#" class="previous round" onclick="plusSlides(-1)"><i class="ti-angle-double-left"></i> Previous</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="#" class="next round" onclick="plusSlides(1)">Next <i class="ti-angle-double-right"></i></a>
                                                    </div>
                                                </div>
                         </div>
                     }
                     }
                                  
                              
                </div>
             </div>
        </div>
           
</div>



<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>