@model MemberPaymentViewModel
@{
    ViewData["Title"] = "AccpetMemberPayment";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div class="container">
        <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 login-text" >
                    <p style="font-size:16px;">Member Registration fees</p>
                    <img src="~/img/credit-card.png" width="90px" height="90px">
                </div>
                <div class="col-lg-4"></div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="login-type">
                    <div class="form-group">
                        <div class="container">
                          
                            <form asp-action="MemberPayment" asp-controller="Payment" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="MemberId" />
                                <input type="hidden" asp-for="MemberName" />
                                <input type="hidden" asp-for="Email" />
                                <input type="hidden" asp-for="Mobile" />
                                <input type="hidden" asp-for="Amount" />
                                <div class="row">
                                        <div class="col-lg-12">
                                        <label name="MemberName" asp-for=" MemberName">MemberName : @Model.MemberName</label><br />
                                        <label name="Mobile" asp-for="Mobile">Mobile : @Model.Mobile</label><br />
                                        <label name="Email" asp-for="Email">Email : @Model.Email</label>
                                        <!--input type="text" name="MemberName" asp-for="MemberName" placeholder="Enter Member Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Member Name'"
            required class="single-input-primary" readonly-->
                                    </div>
                                   
                                   
                                        
                                        <!--input type="text" name="Email" asp-for="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
            required class="single-input-primary" readonly-->
                                    </div>
                                    <!--div class="col-lg-4 col-md-4 mt-sm-50">
            Rs.@Model.Amount.ToString("0.00")
            <input type="hidden" name="Amount" asp-for="Amount" value="@Model.Amount" placeholder="Amount" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Amount'"
                   required class="single-input-primary">
        </div-->
                               
                                <div style="height:20px"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                     <p>Rs.<span style="color:#000000; font-weight:bold">@Model.Amount.ToString("0.00")</span></p>
                                    <input type="hidden" name="Amount" asp-for="Amount" value="@Model.Amount" placeholder="Amount" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Amount'"
                                    required class="single-input-primary" style="font-size:35px">
                                   </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" style="text-align:center">
                                        <button class="btn btn_12" type="submit" text="Submit">Pay Now</button>
                                    </div>
                                   
                                </div>
                            </form>
                        </div>

                    </div>
                     </div>

            </div>
        </div>
    </div>


