@model JobPostingViewModel
@{
    ViewData["Title"] = "JobDirectory";
    Layout = "~/Views/Shared/_LayoutMemberDashboard.cshtml";
}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-12">
            <div class="scroll" style="background-color:darkred">
                <p> Welcome to Job Search Portal</p>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jobresulttitle"><h4>Showing Result(s): <span style="color:#7c0053"> @Model.JobPostings.Count</span></h4></div>
            </div>
    </div>         
                  
               
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 search_result">
                          
                                 @if (Model.JobPostings.Count > 0)
                                 {
                                 foreach (JobPostingViewModel job in Model.JobPostings)
                                 {
                                 <div class="container mySlides">
                                            <div class="row">
                                                <lable><b>Job Title</b>: <br />@job.JobTitle</lable><br />
                                                <lable><b>Job Decsription</b>: <br />@job.JobDescription</lable><br />
                                                <lable><b>Male/Female</b>:<br />@job.PositionFor</lable><br />
                                                <lable><b>Age Limt</b>:<br /> @job.Age</lable><br />
                                                <lable><b>Company name</b>:<br /> @job.CompanyName</lable><br />
                                                <lable><b>Job Location</b>:<br /> @job.JobLocation</lable><br />
                                                <lable><b>Qualification required</b>:<br /> @job.Qualification</lable><br />
                                                <lable><b>Salary band</b>:<br /> @job.SalaryBand</lable><br />
                                                <lable><b>Years of Experience</b>:<br /> @job.Experiance</lable><br />
                                                <img src="~/img/whats-app.png" width="15px" height="15px"> <lable><b> Company Contact</b>:<br /> @job.CompanyContact</lable><br />
                                                <lable><b>Email</b>:<br /> @job.CompanyEmail</lable><br />
                                            </div>
                                            
                                          
                                            <div class="row">
                                                <div class="col-lg-5" style="float:right; margin-top:20px">
                                                    <a href="#" class="previous round" onclick="plusSlides(-1)"><i class="ti-angle-double-left"></i> Pevious</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a href="#" class="next round" onclick="plusSlides(1)">Next <i class="ti-angle-double-right"></i></a>
                                                </div>
                                            </div>
                                 </div>
                                 }
                                 }
                        </div>
                    </div>
                </div>
           
<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
